# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab
*.hprof

# testing
coverage/

# Native
android/
ios/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.*
!.env.example

# macOS
.DS_Store
*.pem

# IDE
.idea
.vscode
*.swp
*.swo

# typescript
*.tsbuildinfo

# Temporary files
*.log
*.tmp
tmp/
temp/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*